@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
  background: url('img/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: 0 none;
}

.active{
  display: none;
}
